/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}

/*=============================================
=                   Navbar                   =
=============================================*/

.menuPrincipal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 10px 3%;
}

.menuPrincipal li,
.menuPrincipal a{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #bdbcbc;
}

.menuPrincipal li.active{
    border-bottom: 2px solid orange;
}

.menuPrincipal li a{
    margin: 0;
    padding: 0;
}

.menuPrincipal li.active a,
.menuPrincipal li:hover a{
    color: orange;
}

/*=============================================
=               Clases FullPage              =
=============================================*/

#fp-nav ul li a span{
    background: orange;
    display: none;
}

#fp-nav ul li .fp-tooltip{
    color: orange;
}
 
/*=============================================
=                   HEADER                   =
=============================================*/

.header{
    background-image: url(../media/bg-imagen.jpeg);
    background-position: center;
}

.header__contenedor-titulo{
    text-align: center;
    position: relative;
    z-index: 99;
}

.header__titulo{
    font-size: 70px;
    text-transform: uppercase;
}

.header__contenedor-icono{
    position: absolute;
    bottom: 3%;
    left: 50%;
    font-size: 24px;
    animation: indicador 1s ease infinite;
}

.bg-video{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #000;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

/* Animación Flecha
-------------------------------------------------- */
@keyframes indicador{
    0% {transform: translateY(-15px)};
    50% {transform: translateY(0px)};
    100% {transform: translateY(15px)};
}

/*=============================================
=                Info producto                =
=============================================*/

.productos article{
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.productos article:nth-child(1){
    background-image: url(../media/producto-01.jpg);
}

.productos article:nth-child(2){
    background-image: url(../media/producto-02.jpg);
}

.productos article:nth-child(3){
    background-image: url(../media/producto-03.jpg);
}

.info__producto::before{
    content: '';
    height: 50px;
    width: 2px;
    background: orange;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: -20px;
}

.info__producto{
    margin: 0 5%;
}

.info__producto-modelo{
    font-size: 45px;
}

.info__producto-descripcion{
    font-size: 16px;
}

.info__producto-precio::before{
    content: '$ ';
}

.info__producto-precio{
    font-size: 25px;
}

/*=============================================
=                Flechas Slides               =
=============================================*/

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 95%;
}

.fp-controlArrow.fp-prev{
    left: 49%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next{
    left: 51%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #000;
}

.fp-slidesNav{
    display: flex;
    justify-content: center;
}

.fp-slidesNav ul li a span{
    background: orange;
}

/*=============================================
=                   Footer                   =
=============================================*/

.footer h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: 'Oswald'serif;
}

.footer__redes-sociales{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 36px;
}

.footer__redes-sociales a{
    width: 80px;
    height: 80px;
    display: flex;
    background: #fff;
    color: #30313a;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 20px;
}

.footer__redes-sociales .facebook i { color: #3b5998}
.footer__redes-sociales .twitter i { color: #1da1f2}
.footer__redes-sociales .instagram i { color: #c13584}

.footer__redes-sociales .facebook:hover{ background: #3b5998;}
.footer__redes-sociales .twitter:hover { background: #1da1f2}
.footer__redes-sociales .instagram:hover { background: #c13584}

.footer__redes-sociales .facebook:hover i { color: #fff;}
.footer__redes-sociales .twitter:hover i { color: #fff}
.footer__redes-sociales .instagram:hover i { color: #fff}

/*=============================================
=                   Responsive                =
=============================================*/

@media (max-width: 576px){
    
    .menuPrincipal li,
    .menuPrincipal a{
        font-size: 14px;
    }

    .menuPrincipal li:hover a{
        color: #bdbcbc;
    }

    .info__producto{
        position: absolute;
        bottom: 10%;
    }

    .header__titulo{
        font-size: 50px;
    }

    .footer h2{
        font-size: 22px;
        width: 80%;
        margin: 0 auto 40px auto;
    }

    .footer__redes-sociales{
        font-size: 24px;
    }
    
    .footer__redes-sociales a{
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
}
