/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}

/*=============================================
=                   Navbar                   =
=============================================*/

.menuPrincipal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}


.menuPrincipal li,
.menuPrincipal a{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #c2c2c2;
}

.menuPrincipal li.active{
    border-bottom: 2px solid orange;
}

.menuPrincipal li a{
    margin: 0;
    padding: 0;
}

.menuPrincipal li.active a,
.menuPrincipal li:hover a{
    color: orange;
}

/*=============================================
=               Clases FullPage              =
=============================================*/

#fp-nav ul li a span{
    background: orange;
}

#fp-nav ul li .fp-tooltip{
    color: orange;
}
 
/*=============================================
=                   HEADER                   =
=============================================*/

.header{
    background-image: url(../media/bg-imagen.jpeg);
    background-position: center;
}

.header__contenedor-titulo{
    text-align: center;
    position: relative;
    z-index: 99;
}

.header__titulo{
    font-size: 70px;
    text-transform: uppercase;
}

.header__contenedor-icono{
    position: absolute;
    bottom: 3%;
    left: 50%;
    font-size: 24px;
    animation: indicador 1s ease infinite;
}

.bg-video{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #000;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

/* Animación Flecha
-------------------------------------------------- */
@keyframes indicador{
    0% {transform: translateY(-15px)};
    50% {transform: translateY(0px)};
    100% {transform: translateY(15px)};
}

/*=============================================
=                Info producto                =
=============================================*/

.productos article{
    background-position: center;
    background-size: cover;
}

.productos article:nth-child(1){
    background-image: url(../media/producto-01.jpg);
}

.productos article:nth-child(2){
    background-image: url(../media/producto-02.jpg);
}

.productos article:nth-child(3){
    background-image: url(../media/producto-03.jpg);
}